
// @import './scss/pattern-styles';
@import './scss/normalize';
@import './scss/variables';

$padding: 20px;
$margin: 10px;

$light-border: 1px solid darken($light-gray, 20%);

html {
	background-color: $light-gray;
}

.style-guide {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

.example {
	padding: $padding;
	margin-bottom: $margin;
	border: 5px solid $secondary-color;
	background-color: lighten($light-gray, 2%);

	/*
		warp preformated code
		borrowed from https://css-tricks.com/snippets/css/make-pre-text-wrap/
	*/
	pre {
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	&:last-child {
		margin-bottom: 0;
	}

	.example--rendered {
		background-color: $white;
		padding: $padding;
		margin-bottom: $margin;
		border: $light-border;
	}

	.example--toggles {
		margin-bottom: $margin;

		button {
			background: $black;
			color: $white;
			border: $light-border;
			padding: .5rem;
			margin-left: .1rem;
			font-family: $sans-serif;
			text-transform: uppercase;
		}
		
		.active {
			background: $primary-color;
			color: $white;
		}
	}

	.example--code {
		padding: $padding;
		background: $black;
		color: lighten($secondary-color, 10%);
		color: #8FB2FF;
		border: $light-border;

		h3 {
			color: $white;
		}
	}
}