a.ck-link {
    font-family: $sans-serif;
    font-weight: bold;
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
    }

    .ck-email-icon {
        background: url('../assets/email.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: .95rem;
        height: .9rem;
    }

    &.ck-block-link {
        display: block;
        width: fit-content;
        margin: .2rem 0;
    }
}