/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Merriweather|Oswald:300,400,600);
$sans-serif: 'Oswald', sans-serif;
$serif: 'Merriweather', serif;

/*COLORS*/
$secondary-color: #e24e4b;
$primary-color: crimson;
$white: #fefefe;
$light-gray:#ebebeb;
$black: #1d1616;

/* MEASUREMENTS */
$gap: 20px;
$break-point: 48em;